<main>
        <h3 class="heading"><%= book.title %> </h3>
        <section class="book-info">
        <div>
            <img src="<%= book.coverImagePath %>" class="book__img">
        </div>
        <div>
            <div><span class="book__property">Author:</span> <%= book.author.name %></div>
            <div><span class="book__property">Date:</span> <%= book.publishDate.toDateString() %></div>
            <div><span class="book__property">Page Count:</span> <%= book.pageCount %></div>
            <div><span class="book__property">Description:</span> <%= book.description %></div>
            <div class="book__buttons">
                <a href="/books/<%= book.id %>/edit" class="btn authors__btn">Edit</a>
                <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
            </div> 
            <a href="/authors/<%= book.author.id %>">View author</a>
        </div>
    </section>
</main>