<main>
    <h3 class="heading">Search Authors</h3>
    <form action="/authors" method="GET" class="input-form">
        <label class="label">Name</label>
        <div class="input-form__fields">
            <input type="text" name="name" value="<%= searchOptions.name %>" class="input-form__input">
            <button type="submit" class="btn input-form__submit-btn">Search</button>
        </div>
    </form>
    <section class="authors">
        <% authors.forEach(author => { %>
            <section class="author">
                <div class="authors__name"><%= author.name %></div>
                <a href="/authors/<%= author.id %>" class=" btn authors__btn">View</a>
                <a href="/authors/<%= author.id %>/edit" class="btn authors__btn">Edit</a>
                <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
            </section> 
        <% }) %>
    </section>
</main>  