<h3><%= author.name %> </h3>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
<% if (booksByAuthor.length) { %>
    <h3>Books By Author</h3>
    <% booksByAuthor.forEach(book => { %>
        <a href="/books/<%= book.id %>">
            <img height="150" width="100" src="<%= book.coverImagePath %>">
            <p><%= book.title %> </p>
        </a>
    <% }) %>
<% } %>   